*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#Home{
    min-height: 100vh;
    background: url('/images/design-space-paper-textured-background_53876-144711.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    mix-blend-mode: overlay;
}

body::-webkit-scrollbar {
    /* width: 12px; */
    width: 0px;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #232B2B;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family: "poppins";
}

.logo{
    font-size: 20px;
    color: #232B2B;
    text-decoration: none;
    font-weight: 200;
    color: white;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top:100%;
    left:0;
    width:0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

.maintext{
    font-family: 'Poppins';
    color: black;
    padding-top: 250px;
    padding-left: 100px;
    min-height: 100vh;

}
.Text{
    font-size: 50px;

}

.para{
    font-size: 15px;
}

.maintext{ display:inline-block;}

.Text, .para{
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s,
        cursor .4s step-end forwards;
}
@keyframes cursor{
    50%{
        border-color:transparent
}to{
    border-color: transparent;
}
}
@keyframes typing{
    from{width:0}
}

#Contact{
    min-height: 100vh;
    background: url('/images/gradient-purple-white-linear-1280x720-c2-6a5acd-ffffff-a-315-f-14.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    
}

#Gallery{
    min-height: 100vh;
    background-color: #b7a684;
    background-size: cover;
    background-position: center;
    
}
.aboutcontainer{
    min-height: 100vh;
    background: url('/images/gradient1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
}
.aboutcontainer img{
    width: 500px;
    height: auto;
    padding-right: 100px;
    
}

#Services{
    min-height: 100vh;
    background: url('/images/gradient-purple-white-linear-1280x720-c2-6a5acd-ffffff-a-315-f-14.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    
}

